---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import ArticleCard from "../../components/ArticleCard.astro";
//whitout sorting
//const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

//with sorting

const allBlogArticles: CollectionEntry<'blog'>[] = 
(await getCollection('blog'))
.sort((a : CollectionEntry<'blog'>, b : CollectionEntry<'blog'>)=>
  b.data.pubDate.valueOf() - a.data.pubDate.valueOf() //from recent to old 
);
//To memorize this, remember that (a, b) => a - b sorts numbers in ascending order.


---

<MainLayout title="Articles, Stories & Tutorials for Tech People">
    

      <!-- Main Grid -->
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
       
        { allBlogArticles.map(article => (
          <ArticleCard article={article}/>
        )) }
         

        

  
      </div>
    </div>
  </MainLayout>